//font import
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
  // CSS variables here
  //   Colors
  --color-base: #1c2833;
  --color-base-shade-1: #3b546b;
  --color-base-shade-2: #323d47;
  --color-base-shade-3: #2b3c4d;
  --color-pink: #eb9d98;
  --color-gold: #9e8f47;
  --color-text-light-grey: #bbb9b9;
  --color-text-dark-grey: #333;
  --color-background-grey: #f5f4f4;

  --color-white: #fff;
  --color-black: #000;

  //   Spacing rem
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 1.5rem;
  --spacing-4: 2rem;
  --spacing-5: 2.5rem;
  --spacing-6: 3rem;
  --spacing-7: 4rem;
  --spacing-8: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //62.5% = 10px of 16px browser default
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  background-color: var(--color-base);
  margin: var(--spacing-4);
}

h1 {
  font-size: clamp(3rem, 5vw, 8rem);
  font-weight: 300;
  color: var(--color-pink);
}

.logo__text--white {
  color: var(--color-white);
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  cursor: pointer;
}
