///////////// Search
.search {
  @include fbox($items: center);

  max-width: 30rem;
  padding: var(--spacing-1) var(--spacing-3);
  margin-bottom: var(--spacing-3);
  background-color: var(--color-white);
  border-radius: var(--spacing-4);

  &__form {
    @include fbox();

    &-input {
      color: var(--color-text-light-grey);
      margin-left: var(--spacing-2);
      outline: none;
      border: none;
    }

    &-btn {
      border: 0;
      outline: 0;
      background: none;

      &:active {
        transform: translateY(2px);
      }
    }

    &-svg {
      @include icons(
        var(--color-text-light-grey),
        var(--spacing-4),
        var(--spacing-4)
      );

      &:hover {
        fill: var(--color-base);
      }
    }
  }
}

///////////// Trending icons
.icons {
  @include fbox($content: space-between);

  max-width: 30rem;

  &__btn {
    @include fbox($content: center, $items: center, $direction: column);

    padding: var(--spacing-2) var(--spacing-3);
    background-color: var(--color-base-shade-3);
    border-radius: var(--spacing-1);
    border: 0;

    transition: all 400ms ease-in;

    &-svg {
      @include icons(
        var(--color-base-shade-1),
        var(--spacing-5),
        var(--spacing-6)
      );
      fill: var(--color-text-light-grey);
    }

    &-label {
      color: var(--color-base-shade-1);
      font-size: 1.2rem;
      font-weight: 700;
    }

    &:hover > &-svg {
      transition: transform 500ms, fill 200ms;
      transform: scale(1.2);
      fill: var(--color-white);
    }

    &:active,
    &:focus {
      background-color: var(--color-gold);
      fill: var(--color-white);
    }
  }
}

///////////// menu-full
.menu-full {
  margin-top: var(--spacing-6);
  max-width: 30rem;
  list-style: none;

  &__item {
    max-width: 30rem;

    &--button {
      @include fbox($content: flex-start, $items: center);

      padding-left: var(--spacing-2);
      width: 100%;
      height: var(--spacing-8);
      outline: none;

      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid var(--color-base-shade-1);
      color: var(--color-background-grey);
      background-color: var(--color-base-shade-2);
      font-size: 1.5rem;

      transition: color 400ms, border-bottom 400ms, border-right 500ms;

      &:hover {
        transition: color 200ms, border-bottom 200ms, border-right 200ms;
        color: var(--color-pink);
        border-right: 5px solid var(--color-pink);
      }

      &:active {
        background-color: var(--color-base-shade-1);
        border-bottom: 1px solid var(--color-gold);
        border-right: 5px solid var(--color-gold);
      }
    }
  }
}

///////////// post
.post {
  &-meta {
    @include fbox($content: space-between);

    width: 100%;
    font-size: clamp(1.2rem, 5vw, 1.5rem);
    color: var(--color-text-light-grey);

    &__author--blue {
      color: var(--color-base);
      font-weight: 700;
    }
  }

  &-title {
    margin-top: var(--spacing-2);
    width: 100%;
    font-size: clamp(1.6rem, 5vw, 2.5rem);
    color: var(--color-text-dark-grey);
    font-weight: 700;
  }

  &-activity {
    @include fbox($content: center, $items: center);

    position: relative;

    color: var(--color-white);
    font-size: clamp(1.2rem, 5vw, 1.5rem);

    & > * {
      position: absolute;
      padding: var(--spacing-1);
      top: -50px;
      width: 8rem;
      background-color: rgba($color: #fff, $alpha: 0.7);
    }

    &__item {
      &-ticks {
        @include fbox();
        left: -30px;
      }

      &-comments {
        @include fbox();
        left: 50px;
      }

      &-svg {
        @include icons(
          var(--color-base-shade-2),
          var(--spacing-6),
          var(--spacing-6)
        );

        transition: fill 400ms;

        &:hover {
          transition: fill 200ms;
          fill: var(--color-gold);
        }
      }
    }

    &__count {
      padding-left: var(--spacing-1);
    }
  }
}

///////////// comments
.comments {
  width: 100%;

  &__title {
    margin-top: var(--spacing-2);
    color: var(--color-base-shade-1);
    font-weight: 700;
    font-size: clamp(1.6rem, 5vw, 1.9rem);
  }

  &__detail {
    padding: var(--spacing-1);
    width: 100%;
    background-color: var(--color-background-grey);
    color: var(--color-text-dark-grey);

    &-user,
    &-time {
      font-size: clamp(1.2rem, 5vw, 1.5rem);
    }

    &-user {
      padding-right: var(--spacing-2);
      color: var(--color-gold);
    }

    &-time {
      color: var(--color-text-light-grey);
    }

    &-text {
      font-size: clamp(1.4rem, 5vw, 1.7rem);
    }
  }
}
